<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <table>
        <thead>
        <tr>
<!--            <th th:text="#{msgs.headers.name}">Name</th>
            <th th:text="#{msgs.headers.Color}">Color</th>
            <th th:text="#{msgs.headers.Sentence}">Sentence</th>-->
            <th th>Name</th>
            <th th>Color</th>
            <th th>Sentence</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${vehicles}">
            <td th:text="${car.getName()}"/>
            <td th:text="${car.getColor()}"/>
            <td th:text="${car.getSentence()}"/>

<!--        <tr th:each="prod: ${allProducts}">
            <td th:text="${prod.name}">Oranges</td>
            <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>